<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find sh_jaco_arm_control)/config/control_prusa.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/prusa" args="bed_joint_controller joint_state_controller">
    <remap from="robot_description" to="/robot_description_prusa" />
  </node>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="robot_description" to="robot_description_prusa" />
    <remap from="/joint_states" to="/prusa/joint_states" />
  </node>

</launch>
